.btn-outline-primary{
    &:hover, :focus{
        color: #F5F0E7;
    }
}

.btn-primary{
    &:hover, :focus{
        background: #907A7B;
        color: #F5F0E7;
    }
}

.btn-secondary{
    &:hover, :focus{
        background-color: #907A7B;
    }
}

.btn-warning{
    &:hover, :focus{
        background-color: #907A7B;
        color: #F5F0E7 !important;
        border-color:transparent;
    }
}

.link-primary{
    &:hover{
      color: #C0A4A5;
    }
  }