/* index.html */

.img-xs-s {
  max-height: 196px;
  @include media-breakpoint-up(md) {
    max-height: 161px;
  }
  @include media-breakpoint-up(lg) {
    max-height: 196px;
  }
}

.img-s-m-2{
  max-height: 218px;
  @include media-breakpoint-up(md) {
    max-height: 341px;
  }
}