.vh-100{

    &-header{
        height: calc(100vh - 80px);
    }
}


.bg-img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &-bottom{
        background-position: center bottom;
    }

}

.rounded-16{ 
    border-radius: 16px;
}

.card-img{
    object-fit: cover;
    object-position: center;

    &-bottom{
        object-position: bottom;
}
}

.card{
    border-radius: 16px;
}

.mb-80{
    margin-bottom: 80px;
}