/* width */

.scrollbar-color{
  margin-bottom: .3rem;
  &::-webkit-scrollbar {
    height: 0.3rem; //x軸 用 h
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #C0A4A5;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #907a7bCC;
  }

}